.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background: var(--background-color);
    width: 100%;
    height: 15vh;
    padding: 0 40px;
    box-shadow: -3px 8px 10px -1px rgba(0,0,0,0.05);
}

.navigation ul li {
    display: inline-block;
    margin-right: 45px;
}

.navigation ul li a {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 500;
}

.header_logo {
    color: var(--text-color);
    font-size: 2.4rem;
    font-weight: 700;
}

.logo_img {
    width: 5rem;
}

.icon_list a i {
    font-size: 2.2rem;
    color: var(--black-color);
}

.icon_list a {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 25px 15px 15px 15px;
    margin: 0 10px 12px 0;
    text-align: center;
}

.icon_list a:first-child {
    padding: 25px 20px 15px 20px;
}

.header .bars {
    display: none;
}

@media (max-width: 992px) {
    .header .bars {
        display: block;
        font-size: 6rem;
        color: var(--black-color);
        cursor: pointer;
    }
    .navigation, .icon_list {
        display: none;
    }
}

.hero_img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.hero_content {
    position: relative;
}

.hero_desc {
    position: absolute;
    top: 32vh;
    left: 15%;
    max-width: calc((100%/2) - 50px);
}

.hero_desc strong {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: #ffffff;
}

h1 {
    font-size: 4.8rem;
    line-height: 1.8;
    font-weight: 700;
    color: #ffffff;
}

.hero_desc p {
    font-size: 1.7rem;
    line-height: 1.6;
    color: #ffffffc5;
    font-weight: bold;
}

.hero_desc a {
    width: 188px;
    height: 58px;
    border-radius: 4px;
    display: inline-block;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    padding-top: 16px;
}

.hero_desc a:first-child {
    background-color: #f7d9c4;
    margin-right: 18px;
}

.hero_desc a:last-child {
    color: var(--white-color);
    border: 1px solid var(--white-color);
    background-color: transparent;
}

.hero_desc a:first-child:hover {
    background-color: var(--white-color);
}

.hero_desc a:last-child:hover {
    color: var(--text-color);
    background-color: #f7d9c4;
}

.button_list {
    margin-top: 25px;
}

.features {
    padding-top: 95px;
    background-color: #efefef;
}

.features_content {
    display: flex;
    flex-wrap: wrap;
}

.features .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.features_right {
    width: 50%;
    padding-left: 80px;
}

.features_right strong {
    font-size: 1.6rem;
    font-weight: bold;
    color: #777777;
    line-height: 1.5;
}

.features_right h2 {
    font-size: 5.8rem;
    font-weight: 700;
    color: var(--black-color);
    line-height: 1.5;
}

.features_right > p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #777777;
}

.features_left img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.download_img-tablet {
    position: absolute;
    bottom: 100px;
    left: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: none;
}

.btn {
    width: 188px;
    height: 58px;
    border-radius: 4px;
    display: inline-block;
    background-color: #f7d9c4;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    padding-top: 16px;
    margin-top: 33px;
}

.btn:hover {
    border: none;
    background-color: var(--white-color);
}

.list_box {
    display: flex;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
    margin: 35px 0 45px 0;
}

.list_box a {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: var(--white-color);
    padding-top: 40px;
}

.list_box i {
    font-size: 4rem;
    color: #ff8484;
    margin-bottom: 20px;
}

.list_box span {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.features_bottom {
    position: relative;
    padding: 145px 0 100px 0;
    width: calc(100% - 10px);
}

.box {
    width: 100%;
    min-height: 350px;
    border-radius: 8px;
    background-color: var(--white-color);
}

.download_box {
    max-width: 100%;
}

.box strong {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.1;
    color: #777777;
}

.box h2 {
    font-size: 6rem;
    font-weight: bold;
    line-height: 1.2;
    color: var(--black-color);
}

.download_link {
    position: absolute;
    left: 60px;
    top: 210px;
}

.download_img {
    width: 325px;
    max-height: 420px;
    position: absolute;
    top: calc((100%/4) - 70px);
    right: calc((100%/4) - 210px);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
}

.goal {
    padding: 90px 0;
}

.goal .content h3 {
    color: var(--black-color);
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 600;
}

.goal .content p, .goal_list b {
    color: #666;
    font-size: 1.8rem;
    line-height: 1.5;
}

.goal .content p {
    margin: 30px 0;
}

.goal_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.goal_list div {
    margin-right: 40px;
}

.goal_list div:nth-child(1), 
.goal_list div:nth-child(2), 
.goal_list div:nth-child(3) {
    margin-bottom: 15px;
}

.goal_list i {
    font-size: 1.8rem;
    line-height: 2.2;
    min-width: 40px;
    height: 40px;
    background-color: var(--background-color);
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

.core {
    background-color: var(--background-color);
    padding-bottom: 92px;
}

.core h2 {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    color: var(--black-color);
    padding: 75px 0 60px 0;
}

.list_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    width: calc((100%/3) - 20px);
    background-color: var(--white-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card img {
    width: 100%;
    height: 225px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.card a {
    position: absolute;
    top: calc((100%/2) + 10px);
    right: 10%;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 8px;
    background-color: var(--white-color);
    box-shadow: 0px 16px 32px 0px #0000000a;
}

.card a i {
    font-size: 2.4rem;
    line-height: 2.5;
    color: var(--black-color);
    margin-left: 18px;
}

.card_desc {
    padding: 40px 0 45px 40px;
}

.card_desc p {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    color: #777777;
}

.card_desc h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--black-color);
}

.careers {
    background-color: #1b2026;
    padding: 130px 0;
}

.careers_box {
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: var(--white-color);
    padding: 70px 0 90px 70px;
}

.careers_heading strong {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    color: #777777;
}

.careers_heading h2 {
    font-size: 6.2rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--black-color);
}

.careers_icon {
    max-width: 40%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
}

.careers_item {
    position: relative;
    width: 380px;
    height: 65px;
    border: 1px solid #999;
    border-radius: 8px;
} 

.careers_item a span {
    position: absolute;
    top: calc((100%/2) - 8px);
    font-size: 1.7rem;
    font-weight: 500;
    color: #6c757d;
}

.careers_item a i {
    font-size: 2.2rem;
    color: #6c757d;
}

.careers_item a i:first-child {
    margin: 20px 15px 0 35px;
}

.careers_item a i:last-child {
    float: right;
    margin: 20px 30px 0 0;
}

.teams {
    position: relative;
    background-color: #efefef;
    padding: 87px 0 160px 0;
    height: auto;
} 

.teams_heading {
    text-align: center;
}

.teams_heading strong {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.1;
    color: #6c757d;
}

.teams_heading h2 {
    font-size: 6.2rem;
    font-weight: 700;
    color: var(--black-color);
}

.teams_list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 70px 0 80px 0;
}
.team_card {
    width: 23.333%;
    min-height: 380px;
    background-color: var(--white-color);
    border-radius: 8px;
    text-align: center;
}

.team_card img {
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin-top: 48px;
    margin: 48px 0 30px 0;
}

.team_card h3 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
    color: var(--black-color);
}

.team_card p {
    font-size: 1.8rem;
    font-weight: 400;
    color: #6c757d;
    margin-bottom: 40px;
}

.team_icon {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.team_icon a {
    width: 44px;
    height: 44px;
    background-color: #efefef;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.team_icon a i {
    font-size: 2rem;
    line-height: 2.1;
    color: var(--text-color);
}

.team_img img {
    width: 100%;
    max-height: 486px;
    object-fit: cover;
    border-radius: 8px;
}

.team_img-desc {
    position: absolute;
    bottom: calc((100%/4) - 250px);
    right: calc((100%/4) - 150px);
    width: calc((100%/2) + 300px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 30px 0;
}

.team_img-desc p {
    font-size: 2rem;
    line-height: 1.8;
    color: #6c757d;
}

.team_img-desc b {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--black-color);
}

.team_img-desc button {
    width: 142px;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    border-radius: 8px;
    background-color: #232323;
}

.feedbacks {
    background-color: #31363b;
    padding: 83px 0 112px 0;
}

.feedbacks strong {
    font-size: 1.6rem;
    line-height: 1.1;
    font-weight: 600;
    color: #999;
}

.feedbacks h2 {
    font-size: 6rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white-color);
}

.feedbacks_list {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.feedbacks_card {
    position: relative;
    min-height: 325px;
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 20px 15px 30px 35px;
}

.feedbacks_card p {
    font-size: 2.6rem;
    line-height: 1.8;
    font-style: italic;
    color: #6c757d;
}

.feedbacks_card i {
    position: absolute;
    top: calc((100%/3) + 95px);
    right: 50px;
    font-size: 6rem;
    color: #6c757d;
}

.feedbacks_card img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.feedbacks_desc {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 40px;
}

.feedbacks_desc h3 {
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--black-color);
}

.feedbacks_desc b {
    font-size: 1.6rem;
    font-weight: 400;
    color: #6c757d;
}

.feedbacks_desc > div {
    position: absolute;
    left: 130px;
}

.action {
    position: relative;
    background-color: #dce8eb;
    padding: 81px 0 105px 0;
}

.action h2 {
    font-size: 5.5rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--black-color);
    text-align: center;
    padding-bottom: 40px;
}

.action img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
}

.play_btn {
    cursor: pointer;
    position: absolute;
    top: 435px;
    right: calc((100%/2) - 65px);
    width: 130px;
    height: 130px;
    background-color: var(--white-color);
    border-radius: 50%;
    border: none;
}

.play_btn i {
    font-size: 2.2rem;
    color: var(--black-color);
}

.work_form {
    background-color: var(--white-color);
    padding: 93px 0 122px 0;
}

.form {
    width: 100%;
    min-height: 690px;
    background-color: #dce8eb;
    border-radius: 8px;
    padding: 100px 35px 90px;
    text-align: center;
}

.form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.form input {
    width: calc((100%/3) - 30px);
    height: 55px;
    border-radius: 8px;
    border: none;
    font-size: 2rem;
    padding-left: 30px;
}

.form textarea {
    width: calc(100% - 70px);
    height: 190px;
    border-radius: 8px;
    border: none;
    font-size: 2rem;
    padding: 20px 0 0 30px;
    margin: 10px 10px 0 0;
}

.form strong {
    font-size: 1.8rem;
    font-weight: 600;
    color: #6c757d;
    margin: 0 auto 20px 30px;
}

.form h3 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--black-color);
    margin: 20px auto 30px -250px;
}

.form button {
    width: 190px;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: #1b2026;
    border-radius: 8px;
    border: none;
    float: right;
    margin: 20px 40px 0 0;
}

.form button:hover {
    color: var(--black-color);
    background-color: #F7D9C4;
}

.map iframe {
    width: 100%;
    height: 64vh;
}

.footer {
    background-color: #14191e;
    padding: 40px 0;
}

.footer p {
    font-size: 1.8rem;
    text-align: center;
    color: var(--white-color);
}

@media (max-width: 1200px) {
    .features_left {
        width: 45%;
    }

    .features_right {
        padding-left: 30px;
    }

}

@media (max-width: 992px) {
    .hero_desc {
        width: 700px;
        margin-left: -20px;
    }

    .button_list {
        display: flex;
    }
    .features_left {
        width: calc(100vw - 170px);
    }

    .features_right {
        width: calc(100vw - 180px);
        padding: 20px 0 0 0;
        vertical-align: middle;
    }

    .box {
        height: 100vh;
    }

    .download_img {
        display: none;
    }

    .download_link {
        text-align: center;
        margin-left: 50px;
    }

    .download_img-tablet {
        display: block;
        width: 325px;
        height: 425px;
    }

    .goal_list div {
        width: 100%;
    }

    .goal_list div:nth-child(4),
    .goal_list div:nth-child(5) {
        margin-bottom: 15px;
    }

    .core h2 {
        text-align: center;
    }

    .card {
        min-width: calc(50% - 20px);
    }

    .card:nth-child(3) {
        margin: 40px auto 0 auto;
    }

    .careers_box {
        position: relative;
        height: 100vh;
    }

    .careers_heading {
        position: absolute;
        top: 80px;
    }

    .careers_item:first-child {
        position: absolute;
        bottom: 0;
        right: 80px;
        width: calc(100% - 150px);
    }

    .careers_item:nth-child(2),
    .careers_item:nth-child(3) {
        display: none;
    }

    .teams {
        min-height: 1900px;
    }

    .teams_list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .team_card {
        min-width: calc((100%/2) - 20px);
    }

    .team_img {
        position: relative;    
    }

    .team_img-desc {
        top: 450px;
        height: 40vh;
        flex-wrap: wrap;
    }

    .team_img-desc div {
        width: calc((100%/2) - 30px)
    }

    .team_img-desc button {
        position: relative;
        left: -190px;
        bottom: 0;
    }

    .feedbacks {
        text-align: center;
        width: 100%;
    }

    .feedbacks_list {
        flex-wrap: wrap;
        gap: 30px;
    }

    .feedbacks_card {
        max-width: calc((100%/2) - 30px);
    }

    .feedbacks_card i {
        margin-top: 10px;
    }

    .feedbacks_card:first-child {
        margin-left: 10px;
    }

    .feedbacks_card:last-child {
        margin: 0 auto;
    }

    .form {
        width: 100%;
        height: 100vh;
        padding-bottom: 25px;
    }

    .title h3 {
        float: left;
    }

    .form > div input {
        min-width: 100%;
    }

    .form > div textarea {
        min-width: 100%;
        margin: -20px 0 0 3px;
        padding-left: 30px;
    }
    

}

@media (max-width: 768px) {
    .hero_desc {
        max-width: calc(100% - 120px);
        text-align: center;
    }

    .button_list {
        margin: 20px auto 0 auto;
    }
    .features_content {
        text-align: center;
    }

    .hero_desc {
        margin-left: -40px;
    }


    .download_link {
        padding-right: 95px;
    }

    .box {
        height: calc(100vh + 340px);
    }

    .download_img-tablet {
        width: 425px;
        height: 600px;
        left: 52px;
    }

    .card {
        min-width: 100%;
    }

    .card:first-child {
        margin-bottom: 37px;
    }

    .teams {
        min-height: 1900px;
    }

    .team_img-desc {
        max-width: calc(100% - 120px);
        min-height: 420px;
        top: 250px;
        left: 60px;
        text-align: center;
    }

    .team_img-desc > div {
        width: 100%;
    }    

    .team_img-desc button {
        margin: 20px -50px 0 auto;
    }   

    .feedbacks, .goal {
        text-align: center;
    }

    .feedbacks_card:first-child {
        margin-left: 12px;
    }

    .feedbacks_card p {
        margin-right: 10px;
    }

    .feedbacks_desc > div {
        margin-right: 30px;
    }
    
    .feedbacks_card i {
        display: none;
    }

    .form {
        height: 850px;
        
    }
    .title {
        margin-left: 20px;
    }

    .form button {
        float: none;
        position: absolute;
        left: calc(50% - 90px);
    }
}

@media (max-width: 576px) {
    .header_logo {
        margin-left: -20px;
    }

    .bars i {
        font-size: 4rem;
        margin: 0 -15px 20px 0;
    }

    .download_link strong {
        font-size: 1.6rem;
    }

    .download_link h2 {
        font-size: 3.2rem;
    }
    .button_list {
        display: block;
    }

    .button_list a {
        max-width: 185px;
    }

    .button_list a:first-child {
        margin: 0 8px 20px 2px;
    }

    .core {
        margin: 0 auto;
    }

    .goal_list div {
        margin: 0 auto;
    }

    .goal_list div:nth-child(even) {
        margin-left: 13px;
    }

    .hero_desc {
        text-align: center;
        min-width: calc((100vw/2) + 150px);
    }

    .careers_heading strong, .teams_heading strong {
        font-size: 1.4rem;
    }

    .careers_heading h2, .teams_heading h2 {
        font-size: 2.4rem;
    } 

    .hero_img {
        height: 100vh;
    }

    .features_left {
        width: 100%;
    }

    .features_left img {
        max-width: 100%;
    }

    .features_right {
        width: 100%;
        text-align: center;
    }

    .features_right h2 {
        font-size: 2.8rem;
    }

    .list_box a {
        min-width: 50%;
        margin: 0 auto;
    }

    .list_box a:first-child {
        margin: auto;
    }
 
    .box {
        width: 100%;
        height: 980px;
    }

    .download_link {
        margin: 0 auto;
    }

    .download_img-tablet {
        max-width: 100%;
        height: 50vh;
        left: 0;
    }

    .goal, .careers {
        text-align: center;
    }

    .careers_heading {
        margin-left: -60px;
    }

    .careers_item {
        display: none;
    }
    
    .team_card {
        min-width: 100%;
    }

    .team_img-desc {
        top: calc((100%/4) - 48px);
        height: auto
    }

    .team_img {
        width: 100%;
        height: 80vh;
    }

    .team_img button {
        min-width: calc(100%);
        margin-left: 330px;
    }

    .feedbacks_card {
        min-width: 100%;
    }

    .feedbacks_card:first-child {
        margin-left: -2px;
    }

    .feedbacks_card i {
        display: block;
        margin: 10px 0 0 10px;
    }

    .feedbacks h2 {
        font-size: 2.4rem;
    }

    .action h2 {
        font-size: 2.2rem;
    }

    .action img {
        width: 100%;
        max-height: 400px;
    }

    .icon {
        display: none;
    }

    .play_btn {
        margin-right: 20px;
        width: 80px;
        height: 80px;
    }

    .form {
        height: 100vh;
    }

    .form div:nth-child(2) {
        margin-bottom: 10px;
    }

    .form button {
        margin: 0 auto;
    }

    .title {
        margin-left: 260px;
    }

    .title strong {
        display: none;
    }

    .title h3 {
        font-size: 2.1rem;
    }

    .footer p {
       width: calc(100vw - 10px);
    }
}